@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
}

p {
  @apply text-neutral-300;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #8e8f93;
  border-radius: 5px;
  border: 3px solid #011019;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
